<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HaBook - Vietnam's leading reading website.</title>
    <link rel="icon" href="/template/static/img/icon/open-book.png" />
    <link rel="stylesheet" href="../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Josefin+Sans|Montserrat|Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://mdbootstrap.com/previews/docs/latest/css/compiled.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/slide.css">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="img/thumnail/1159716-4415.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item btn-group">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category
                        </a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Good books</a>
                            <a class="dropdown-item" href="#">New books</a>
                            <a class="dropdown-item" href="#">Strange books</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
    <div id="carousel-example-3" class="carousel slide carousel-fade white-text"
         data-ride="carousel" data-interval="false">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-3" data-slide-to="1"></li>
            <li data-target="#carousel-example-3" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!-- First slide -->
            <div class="carousel-item active view hm-black-light"
                 style="background: url('https://images.pexels.com/photos/34075/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat;
                 background-size: cover;">

                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="h1-responsive flex-item font-bold">Great Books Online</h1>
                        <li>
                            <p class="flex-item">We are the preeminent internet publisher of literature, reference and verse providing students,
                                <br>researchers and the intellectually curious with unlimited access to books and information on the web, free of charge.
                            </p>
                        </li>
                        <li>
                            <a target="_blank" href="#!"
                               class="btn btn-primary btn-lg flex-item" rel="nofollow">Sign up!</a>
                        </li>
                        <li>
                            <a target="_blank" href="#!"
                               class="btn btn-secondary btn-lg flex-item" rel="nofollow">Learn more</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.First slide -->

            <!-- Second slide -->
            <div class="carousel-item view hm-black-light"
                 style="background: url('https://static.pexels.com/photos/159621/open-book-library-education-read-159621.jpeg') no-repeat;
                 background-size: cover;">
                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="h1-responsive">A lot of book</h1>
                        </li>
                        <li>
                            <p class="my-4">And all of them are FREE!</p>
                        </li>
                        <li>
                            <a target="_blank" href="#!"
                               class="btn btn-primary btn-lg" rel="nofollow">Get them here</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.Second slide -->

            <!-- Third slide -->
            <div class="carousel-item view hm-black-light"
                 style="background: url('https://images.pexels.com/photos/24576/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb') no-repeat;
                 background-size: cover;">

                <!-- Caption -->
                <div class="full-bg-img flex-center white-text">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="h1-responsive">Visit fanpage</h1></li>
                        <li>
                            <p class="my-4">Our community can help you with any question</p>
                        </li>
                        <li>
                            <a target="_blank" href="" class="btn btn-default btn-lg" rel="nofollow">Visit here</a>
                        </li>
                    </ul>
                </div>
                <!-- /.Caption -->

            </div>
            <!-- /.Third slide -->

        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <main>
        <div id="container" class="container-fluid">
            <div class="row">
                <!--content for web-->
                <div class="col-sm-8">
                    <section>
                        <!--article for most video popular-->
                        <article class="slide-show most-popular">
                            <a href="">
                                <h4 class="title-type">Most popular</h4>
                            </a>
                            <div class="row">
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href="">
                                            <img class="image-book" src="img/thumnail/zerotoone.jpg" alt="">
                                        </a>
                                        <div class="caption">
                                            <h6>
                                                <a href="">Zero to one</a>
                                            </h6>
                                            <small>From 0 to 1 is a very interesting book about business</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/goodtogreat.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">From Good to great</a></h6>
                                            <small>From good to great is a book about business, which monitors all the stories
                                                of successful companies in the world
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href="">
                                            <img class="image-book" src="img/thumnail/dungianmotminh.jpg" alt="">
                                        </a>
                                        <div class="caption">
                                            <h6><a href="">Never go out to eat alone</a></h6>
                                            <small>A book about the importance of relationships</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href="">
                                            <img class="image-book" src="img/thumnail/toitaigioi.jpg" alt="">
                                        </a>
                                        <div class="caption">
                                            <h6><a href="">I am talented, you too</a></h6>
                                            <small>I'm also good at telling you the best way to use your brain</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="see-more">
                                <a class="see-another-book btn btn-info btn-xs" href="">See more >></a>
                            </div>
                        </article>
                        <hr>
                        <!--article for just video added-->
                        <article class="slide-show just-added">
                            <a href=""><h4 class="title-type">Just added</h4></a>
                            <div class="row">
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href="">
                                            <img class="image-book" src="img/thumnail/steve_job.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">Steve Job</a></h6>
                                            <small>The steve job'life with Apple</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/tuoitho.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">Childhood fierce</a></h6>
                                            <small>My childhood fierce</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/hoavang.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">I see yellow flowers on green grass</a></h6>
                                            <small>The story of a poor kid, good school</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/trenduongbang.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">On the runway</a></h6>
                                            <small>The girl stiffly goes around the world</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="see-more">
                                <a class="see-another-book btn btn-info btn-xs" href="">See more >></a>
                            </div>
                        </article>
                        <hr>
                        <!--article for video featured-->
                        <article class="slide-show featured">
                            <a href="">
                                <h4 class="title-type">Feature</h4>
                            </a>
                            <div class="row">
                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/doraemon.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">Doraemon and Nobita</a></h6>
                                            <small>Nobita journey to promised land</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/conan.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">Famous Detective Conan</a></h6>
                                            <small>Famous conan, the whole conan</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/long.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">7 dragon balls</a></h6>
                                            <p>Songoku propagation battle with the gods</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-18 col-sm-6 col-md-3">
                                    <div class="thumbnail wow bounceOut">
                                        <a href=""><img class="image-book" src="img/thumnail/onepiececrew.jpg" alt=""></a>
                                        <div class="caption">
                                            <h6><a href="">Treasure Island</a></h6>
                                            <small>Hiding gold, teammates are the most precious treasure</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="see-more">
                                <a class="see-another-book btn btn-info btn-xs" href="">See more >></a>
                            </div>
                        </article>
                    </section>
                </div>
                <div class="col-sm-4">
                    <!--sidebar -->
                    <aside>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhappycitycommunity%2F&tabs=timeline&width=420&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=687156048107530" width="420" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        <div class="type-side-menu">
                            <h5>Share and save this site</h5>
                        </div>
                        <table>
                            <tbody>
                            <tr>
                                <td><a href="">Trinh thám</a></td>
                                <td><a href="">Thể thao</a></td>
                                <td><a href="">Lãng mạn</a></td>
                            </tr>
                            <tr>
                                <td><a href="">Nhạc</a></td>
                                <td><a href="">Hành động</a></td>
                                <td><a href="">Kinh dị</a></td>
                            </tr>
                            <tr>
                                <td><a href="">Đam mỹ</a></td>
                                <td><a href="">Thể thao</a></td>
                                <td><a href="">Tình yêu</a></td>
                            </tr>
                            <tr>
                                <td><a href="">Nhức nhối</a></td>
                                <td><a href="">Trap</a></td>
                                <td><a href="">Lãng mạn</a></td>
                            </tr>
                            <tr>
                                <td><a href="">Hạnh phúc</a></td>
                                <td><a href="">Gia đình</a></td>
                                <td><a href="">Xã hội</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="name-of-location">
                            <h5>The current location of company</h5>
                        </div>
                        <div id="map"></div>
                    </aside>
                </div>
            </div>
        </div>
        <section class="container-fluid section-search">
            <div class="row">
                <div class="col-lg-12">
                    <div class="head-section-search">
                        <h1>Register</h1>
                        <p>All kinds of books are here with the best books, latest, all the schedules and absolutely free.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="search-box">
                        <form action="">
                            <div class="input-group md-form form-sm form-2 pl-0">
                                <input class="form-control my-0 py-1 amber-border" type="text"
                                       placeholder="Email" aria-label="Search">
                                <span class="input-group-addon amber lighten-3" id="basic-addon1">
                                    <i class="fa fa-search text-grey" aria-hidden="true"></i>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer center-on-small-only">
        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>About Habook</strong></h5>
                    <p>This is a Vietnam's leading reading website.</p>
                    <p>All kinds of books are here with the best books, latest, all the schedules and absolutely free.</p>
                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Series</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Children's story</a>
                        </li>
                        <li>
                            <a href="#!">Long story</a>
                        </li>
                        <li>
                            <a href="#!">Short story</a>
                        </li>
                        <li>
                            <a href="#!">Romantic story</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Third column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Category</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Mindset books</a>
                        </li>
                        <li>
                            <a href="#!">Skills books</a>
                        </li>
                        <li>
                            <a href="#!">Business books</a>
                        </li>
                        <li>
                            <a href="#!">Child books</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Category</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Mindset books</a>
                        </li>
                        <li>
                            <a href="#!">Skills books</a>
                        </li>
                        <li>
                            <a href="#!">Business books</a>
                        </li>
                        <li>
                            <a href="#!">Child books</a>
                        </li>
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->
        <hr>
        <!--Call to action-->
        <div class="call-to-action">
            <h4 class="mb-5">Habook - Vietnam's leading reading website</h4>
            <ul>
                <li>
                    <h5>Get ebook online</h5></li>
                <li><a target="_blank" href="#!" class="btn btn-primary" rel="nofollow">Sign up!</a></li>
                <li><a target="_blank" href="#!" class="btn btn-default" rel="nofollow">Follow</a></li>
            </ul>
        </div>
        <!--/.Call to action-->
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © Make by: <a href="#!"> Habook.com </a>

            </div>
        </div>
        <!--/.Copyright-->
    </footer>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdarNSSHUkxGoDrDWoWfauIUPDJd9mIec&callback=initMap"
        async defer></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<!--<script src="jquery.slides.min.js"></script>-->
<script type="text/javascript" src="../../lib/WOW-master/dist/wow.min.js"></script>
<script src="js/map.js"></script>
<script src="js/main.js"></script>
<script>
    new WOW().init();
</script>
</body>

</html>