<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <video id="video_background" preload="auto" autoplay="true" loop="loop" muted volume="0">
        <source src="https://www.thuthuatweb.net/demo/video-background-html5/videos/tunnel_animation.webm" type="video/webm"/>
        <source src="https://www.thuthuatweb.net/demo/video-background-html5/videos/tunnel_animation.ogv" type="video/ogg ogv"; codecs="theora, vorbis"/>
        <source src="https://www.thuthuatweb.net/demo/video-background-html5/videos/tunnel_animation.mp4" type="video/mp4"/>
    </video>
    <div id="wrapper">
        <form action="" METHOD="post">
            <h1>SIGN UP</h1>
            <!--first name input-->
            <div class="information">
                <i class="fa fa-user"></i>
                <input type="text" class="first-name" placeholder="First Name">
            </div>
            <!--last name input-->
            <div class="information">
                <i class="fa fa-user"></i>
                <input type="text" class="last-name" placeholder="Last Name">
            </div>
            <!--phone number input-->
            <div class="information">
                <i class="fa fa-phone"></i>
                <input type="number" class="phone-number" placeholder="Phone number">
            </div>

            <div class="information">
                <i class="fa fa-envelope"></i>
                <input type="email" class="email" placeholder="Email">
            </div>

            <div class="information">
                <i class="fa fa-unlock"></i>
                <input type="password" class="password" placeholder="Password">
            </div>

            <div class="information">
                <i class="fa fa-unlock"></i>
                <input type="password" class="confirm-password" placeholder="Confirm password">
            </div>

             <div class="submit">
                 <input type="submit" class="button-submit" value="Sign up">
             </div>
        </form>
    </div>
</body>
</html>